* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary: #1173d4;
    --primary-dark: #0a3d66;
    --primary-hover: #0d5ba8;
    --primary-light: #09f;
    --background: #101922;
    --text-primary: #ffffff;
    --text-secondary: #cbd5e1;
    --text-muted: #94a3b8;
    --border: rgba(255, 255, 255, 0.1);
    --card-bg: #1e293b;
    --shadow: rgba(0, 0, 0, 0.3);
    --input-bg: #1e293b;
    --hsla-example: hsla(210, 100%, 56%, 1);
}

/* Header */
header {
    background-color: var(--background);
}

/* Body */
body {
    font-family: system-ui;
    background-color: var(--background);
    color: var(--text-primary);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    line-height: 1.6;
}

/* Grid de Features */
/* Busca dentro del main, dentro del segundo section, el footer */
main > section:nth-child(2) footer {
    display: grid;
    gap: 2rem;
    
}

/* Footer */
footer {
    background-color: var(--background);
    border-top: 1px solid var(--border);
    text-align: center;
    padding: 16px;

    small {
        color: var(--text-muted);
        font-size: 0.875rem;
    }
}

article {
    background-color: var(--card-bg);
    padding: 2rem;
    margin-bottom: 16px;
    border-radius: 0.5rem;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.5);

    svg {
        color: var(--primary-light);
        background: rgba(0, 153, 255, 0.3);
        width: 64px;
        height: 64px;
        border-radius: 100%;
        padding: 16px;
    }

    p {
        color: var(--text-muted);
    }

    h3 {
        font-weight: 500;
    }
}

